{% extends "base.html" %}
{% block title %}Kye Stapleton-Gray{% endblock %}
{% block content %}



<div class="image-container">
    <img src="../static/img/cmaa8319.jpg" width="100%" height="auto" />
    <div class="overlay-text">
        <h4>Kye Stapleton-Gray</h4>
        <p>I have thoroughly enjoyed problem-solving, mathematical challenges, and science for my whole life. 

            I have worked as a Data Engineer and as a Bioinformatics Software Engineer for multiple biotech companies. I earned a B.S. in Chemical Engineering with a minor in Biomedical Engineering from Carnegie Mellon University. During my past work experiences, I have completed projects in data engineering and AWS infrastructure, bioinformatics web apps, automated app testing, data querying tools, genome sequencing analysis, clinical patient data analytics, and scientific research.
            
            I am adept at picking up new skills during work projects. When I became a full-time software engineer, I added to my previous experience with Python, learning how to work with tools such as Flask, Selenium, and front end development on the job, and was able to directly apply these new skills to completed projects.</p>
    </div>
</div>


{% endblock %}
