{% extends "base.html" %}
{% block title %}Kye Stapleton-Gray{% endblock %}
{% block content %}

<div class="container">
    <img src="../static/img/cmaa8319.jpg" width="100%" height="auto" />
    <div class="text-block">
        <h4>Kye Stapleton-Gray</h4>
        <p>I have thoroughly enjoyed problem-solving, mathematical challenges, and science for my whole life. 

            I have been working as a Bioinformatics Software Engineer at the research division of a pharmaceutical company, Sangamo Therapeutics. I earned a B.S. in Chemical Engineering with a minor in Biomedical Engineering from Carnegie Mellon University. During my past work experiences, I have completed projects in bioinformatics web apps, automated app testing, data querying tools, genome sequencing analysis, clinical patient data analytics, and scientific research.
            
            I am adept at picking up new skills during work projects. At Sangamo, I added to my previous experience with Python, learning how to work with tools such as Flask, Selenium, and front end development on the job, and was able to directly apply these new skills to completed projects.</p>
    </div>
</div>


{% endblock %}